* {
    box-sizing: border-box;
}

body {
    background-color: black;
    max-height:fit-content;
 }

.videocs {
    display:flex;
    justify-content: center; 
    align-items: center;      /* Vertically centers children */
    height: 100vh;      
    
}