* {
    box-sizing: border-box;
}

body {
    background-color: black;
 }

.videocs {
    display:grid;
    place-items: center; /* Centers both axes at once */
    height: 100vh;      /* Required for vertical centering */
}